/* Colors */
$black: #000000;
$pink: #ff69b4;
$green: #99d4b8;

/* Breakpoints */
$mid: 650px;

/* Visual Pacing */
$spacing-unit: 16px;

/* Site Defaults */
$site-background: $black;

/* Font */
$font-color: $pink;
$font-family: 'Courier New';
$font-size: 1em;

/* Links */
$link-hover-color: $green;

body {
  background-color: $site-background;
  margin: 0;
  animation: fadein 300ms;
}

/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Helpers */
@mixin respond-to($breakpoint) {
    @media screen and (min-width: $breakpoint), print {
        @content;
    }
}

/* Hero - Component */

.hero {}

  .hero__image {
    width: 100%;
  }


/* Egg - Component */
.egg {
  position: relative;
}

  .egg__image {
    position: absolute;
    margin-right: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100vw / 2);
  }

/* Nav - Component */
.nav {}

  .nav__list {
    padding: 0;
    margin: $spacing-unit 0 0 $spacing-unit * 2;
    text-decoration: none;

    @include respond-to($mid) {
      margin: $spacing-unit 0 0 $spacing-unit * 3;
    }
  }
    .nav__list-item {
      padding-top: $spacing-unit / 2;
      padding-bottom: $spacing-unit / 2;

      &:first-child {
        padding-top: 0;
      }

    }

      .nav__link {
        position: relative;
        text-decoration: none;
        color: $font-color;
        font-family: $font-family;
        font-size: $font-size;

        &:after {
          content: '';
        }

        &:hover {
          &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -3px;
            left: 0;
            height: 1px;
            background-color: $link-hover-color;
          }
        }
      }


